<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>play</title>
</head>
<body>
<p>welcome play word!</p>
<div id="student">
    <form action="" method="post">
        <label>学生姓名</label>
        <input id="name" name="stu_name"><br>
        <label>学生年龄</label>
        <input id="age" name="stu_age"><br>
        <label>学生性别</label>
        <input id="sex" name="stu_name"><br>
        <label>班级</label>
        <select>
        </select>
    </form>
</div>
</body>
</html>